<h1> <%= @post.title %></h1>
<h1> <%= @post.content %></h1>

<ul>
  <% @post.categories.each do |cat| %>
  <li><%= cat.name %></li>
  <% end %>
</ul>


<%= form_for @comment do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>
