<h1> <%= @post.title %></h1>
<h1> <%= @post.content %></h1>

<ul>
  <% @post.categories.each do |cat| %>
  <li><%= cat.name %></li>
  <% end %>
</ul>


<% form_for @comment do |f| %>
  <%= f.text_field :content %>
  <%= f.collection_select :user, :id, User.all %>
<% end %>

<% @post.comments.each do |c| %>
  <%= c.content %>
  <%= c.user.name %>
<% end %>
